In [26]:
import pandas as pd

In [33]:
df = pd.read_csv('../assets/websiteDF.csv')
df_new = pd.read_csv('../assets/cleaned_reviews.csv')

In [34]:
df_new['coord'] = list(zip(df_new.latitude, df_new.longitude))
all_coords_new = df_new['coord'].values
all_coords_new

array([(30.4607176, -97.7928744), (30.4607176, -97.7928744),
       (30.4607176, -97.7928744), ..., (25.8099996, -80.1890981),
       (25.8099996, -80.1890981), (25.8099996, -80.1890981)], dtype=object)

In [43]:
unique_coords_new = df_new['coord'].unique()

print(len(unique_coords_new))
    
unique_coords_list = list(unique_coords_new)
sorted_unique_coords = sorted(unique_coords_list)
sorted_unique_coords

39

[(25.7902955, -80.1320774),
 (25.8099996, -80.1890981),
 (28.3335081, -81.5137384),
 (28.3999863, -81.4051029),
 (28.4238144, -81.4612421),
 (28.4503866, -81.4714142),
 (28.6553497, -81.3426916),
 (29.6762669, -98.6345801),
 (30.3291349, -97.6606295),
 (30.4607176, -97.7928744),
 (32.7445961, -96.8122859),
 (32.7976607, -117.2494697),
 (32.8206541, -117.1780115),
 (32.9580411, -97.3076518),
 (33.0093179, -97.2229254),
 (33.9312613, -118.2829548),
 (34.0122192, -118.4945396),
 (34.0352699, -118.2382063),
 (34.0565932, -118.4259996),
 (34.1525074, -118.3679036),
 (36.0902437, -115.1758223),
 (37.3854949, -121.9954211),
 (38.8128231, -77.1850548),
 (38.8969797, -77.0289132),
 (38.9054561, -77.0442355),
 (39.8520594, -74.9810994),
 (40.7093746, -74.0099791),
 (40.7185138, -74.0011677),
 (40.7188385, -73.9882797),
 (40.7274006, -73.8124604),
 (40.7291264, -73.9932643),
 (40.7505058, -73.990583),
 (40.750831, -73.9890961),
 (40.7525294, -73.9928762),
 (40.7590573, -111.8973832),
 (40.7719101, -74.1614754),
 (40.9220806, -75.3999187),
 (41.8796564, -87.7779131),
 (44.9814099, -73.4598199)]

In [45]:
all_coords = df['coord'].values

print(len(all_coords))

unique_coords_list2 = list(all_coords)
sorted_unique_coords2 = sorted(unique_coords_list2)
sorted_unique_coords2

39

['(25.7902955, -80.13207740000001)',
 '(25.8099996, -80.1890981)',
 '(28.3335081, -81.51373840000001)',
 '(28.399986300000002, -81.4051029)',
 '(28.423814399999998, -81.46124209999999)',
 '(28.450386600000005, -81.4714142)',
 '(28.6553497, -81.3426916)',
 '(29.676266899999998, -98.6345801)',
 '(30.3291349, -97.6606295)',
 '(30.460717600000002, -97.7928744)',
 '(32.7445961, -96.8122859)',
 '(32.7976607, -117.24946969999999)',
 '(32.820654100000006, -117.1780115)',
 '(32.9580411, -97.30765179999999)',
 '(33.0093179, -97.22292540000001)',
 '(33.931261299999996, -118.2829548)',
 '(34.012219200000004, -118.4945396)',
 '(34.035269899999996, -118.2382063)',
 '(34.0565932, -118.4259996)',
 '(34.1525074, -118.36790359999999)',
 '(36.0902437, -115.1758223)',
 '(37.3854949, -121.99542109999999)',
 '(38.8128231, -77.18505479999999)',
 '(38.8969797, -77.0289132)',
 '(38.9054561, -77.0442355)',
 '(39.8520594, -74.9810994)',
 '(40.709374600000004, -74.0099791)',
 '(40.7185138, -74.0011677)',
 '(40.718838500000004, -73.9882797)',
 '(40.7274006, -73.8124604)',
 '(40.7291264, -73.99326429999999)',
 '(40.7505058, -73.990583)',
 '(40.750831, -73.98909609999998)',
 '(40.7525294, -73.9928762)',
 '(40.759057299999995, -111.8973832)',
 '(40.7719101, -74.1614754)',
 '(40.9220806, -75.3999187)',
 '(41.8796564, -87.77791309999999)',
 '(44.981409899999996, -73.4598199)']

In [46]:
import ast

In [47]:
coord_list = [(25.7902955, -80.1320774),
              (25.8099996, -80.1890981),
              (28.3335081, -81.5137384),
              (28.3999863, -81.4051029),
              (28.4238144, -81.4612421),
              (28.4503866, -81.4714142),
              (28.6553497, -81.3426916),
              (29.6762669, -98.6345801),
              (30.3291349, -97.6606295),
              (30.4607176, -97.7928744),
              (32.7445961, -96.8122859),
              (32.7976607, -117.2494697),
              (32.8206541, -117.1780115),
              (32.9580411, -97.3076518),
              (33.0093179, -97.2229254),
              (33.9312613, -118.2829548),
              (34.0122192, -118.4945396),
              (34.0352699, -118.2382063),
              (34.0565932, -118.4259996),
              (34.1525074, -118.3679036),
              (36.0902437, -115.1758223),
              (37.3854949, -121.9954211),
              (38.8128231, -77.1850548),
              (38.8969797, -77.0289132),
              (38.9054561, -77.0442355),
              (39.8520594, -74.9810994),
              (40.7093746, -74.0099791),
              (40.7185138, -74.0011677),
              (40.7188385, -73.9882797),
              (40.7274006, -73.8124604),
              (40.7291264, -73.9932643),
              (40.7505058, -73.990583),
              (40.750831, -73.9890961),
              (40.7525294, -73.9928762),
              (40.7590573, -111.8973832),
              (40.7719101, -74.1614754),
              (40.9220806, -75.3999187),
              (41.8796564, -87.7779131),
              (44.9814099, -73.4598199)]

In [48]:
df['coord'] = df['coord'].apply(ast.literal_eval)

In [49]:
df['coord_rounded'] = df['coord'].apply(lambda x: (round(x[0], 2), round(x[1], 2)))
coord_list_rounded = [(round(x[0], 2), round(x[1], 2)) for x in coord_list]

In [51]:
df[['latitude', 'longitude']] = pd.DataFrame(df['coord'].tolist(), index=df.index)

In [52]:
df['latitude_rounded'] = df['latitude'].round(2)
df['longitude_rounded'] = df['longitude'].round(2)

In [53]:
for i, row in df.iterrows():
    coord_rounded = (row['latitude_rounded'], row['longitude_rounded'])
    if coord_rounded in coord_list_rounded:
        new_coord = coord_list[coord_list_rounded.index(coord_rounded)]
        df.loc[i, 'latitude'] = new_coord[0]
        df.loc[i, 'longitude'] = new_coord[1]

In [54]:
df = df.drop(['coord', 'coord_rounded', 'latitude_rounded', 'longitude_rounded'], axis=1)

df.head()

,subway20,Topic_26,rating_count,Topic_19,compound_score,rating,latitude,longitude
0,109.0,0.029128,4922.000000,0.028140,-0.190472,1.971930,25.790295,-80.132077
1,153.0,0.035417,2809.452229,0.050982,-0.018911,2.557962,25.810000,-80.189098
2,46.0,0.029296,5566.552326,0.046009,0.119611,2.810465,28.333508,-81.513738
3,64.0,0.025727,1861.000000,0.044964,0.146034,3.164789,28.399986,-81.405103
4,67.0,0.031973,5467.206349,0.036977,0.065329,2.579894,28.423814,-81.461242

In [55]:
df[['latitude', 'longitude']]

     latitude   longitude
0   25.790295  -80.132077
1   25.810000  -80.189098
2   28.333508  -81.513738
3   28.399986  -81.405103
4   28.423814  -81.461242
5   28.450387  -81.471414
6   28.655350  -81.342692
7   29.676267  -98.634580
8   30.329135  -97.660629
9   30.460718  -97.792874
10  32.744596  -96.812286
11  32.797661 -117.249470
12  32.820654 -117.178011
13  32.958041  -97.307652
14  33.009318  -97.222925
15  33.931261 -118.282955
16  34.012219 -118.494540
17  34.035270 -118.238206
18  34.056593 -118.426000
19  34.152507 -118.367904
20  36.090244 -115.175822
21  37.385495 -121.995421
22  38.812823  -77.185055
23  38.896980  -77.028913
24  38.905456  -77.044235
25  39.852059  -74.981099
26  40.709375  -74.009979
27  40.718514  -74.001168
28  40.718838  -73.988280
29  40.727401  -73.812460
30  40.729126  -73.993264
31  40.750506  -73.990583
32  40.750506  -73.990583
33  40.750506  -73.990583
34  40.759057 -111.897383
35  40.771910  -74.161475
36  40.922081  -75.399919
37  41.879656  -87.777913
38  44.981410  -73.459820

In [56]:
df_coords = list(zip(df['latitude'], df['longitude']))
matches = [coord in coord_list for coord in df_coords]

In [57]:
all(matches)

True

In [60]:
df['coord'] = list(zip(df.latitude, df.longitude))

In [62]:
df = df.drop(['latitude', 'longitude'], axis=1)

In [63]:
df.head()

,subway20,Topic_26,rating_count,Topic_19,compound_score,rating,coord
0,109.0,0.029128,4922.000000,0.028140,-0.190472,1.971930,"(25.7902955, -80.1320774)"
1,153.0,0.035417,2809.452229,0.050982,-0.018911,2.557962,"(25.8099996, -80.1890981)"
2,46.0,0.029296,5566.552326,0.046009,0.119611,2.810465,"(28.3335081, -81.5137384)"
3,64.0,0.025727,1861.000000,0.044964,0.146034,3.164789,"(28.3999863, -81.4051029)"
4,67.0,0.031973,5467.206349,0.036977,0.065329,2.579894,"(28.4238144, -81.4612421)"

In [64]:
df.to_csv('../assets/updated_websiteDF.csv', index=False)

In [65]:
df

,subway20,Topic_26,rating_count,Topic_19,compound_score,rating,coord
0,109.0,0.029128,4922.000000,0.028140,-0.190472,1.971930,"(25.7902955, -80.1320774)"
1,153.0,0.035417,2809.452229,0.050982,-0.018911,2.557962,"(25.8099996, -80.1890981)"
2,46.0,0.029296,5566.552326,0.046009,0.119611,2.810465,"(28.3335081, -81.5137384)"
3,64.0,0.025727,1861.000000,0.044964,0.146034,3.164789,"(28.3999863, -81.4051029)"
4,67.0,0.031973,5467.206349,0.036977,0.065329,2.579894,"(28.4238144, -81.4612421)"
5,70.0,0.033206,19671.673469,0.018806,0.435601,3.687755,"(28.4503866, -81.4714142)"
6,69.0,0.028381,1617.670588,0.040972,0.222324,3.470588,"(28.6553497, -81.3426916)"
7,50.0,0.029993,1460.000000,0.042374,0.157391,3.127559,"(29.6762669, -98.6345801)"
8,53.0,0.030968,1406.000000,0.031907,0.029652,2.666307,"(30.3291349, -97.6606295)"
9,46.0,0.033559,1240.000000,0.029037,0.145266,3.192500,"(30.4607176, -97.7928744)"
10,106.0,0.032237,2657.690909,0.048792,0.190341,3.143636,"(32.7445961, -96.8122859)"
11,73.0,0.028393,1159.000000,0.037630,0.072425,2.817647,"(32.7976607, -117.2494697)"
12,95.0,0.026381,550.000000,0.041022,0.223590,3.598182,"(32.8206541, -117.1780115)"
13,51.0,0.036282,957.000000,0.036338,0.161011,3.270588,"(32.9580411, -97.3076518)"
14,49.0,0.025508,998.145548,0.040326,0.219639,3.465753,"(33.0093179, -97.2229254)"
15,286.0,0.035939,2722.000000,0.037991,0.061402,2.492723,"(33.9312613, -118.2829548)"
16,142.0,0.030353,3380.280488,0.031626,0.139619,3.192683,"(34.0122192, -118.4945396)"
17,288.0,0.041574,2614.000000,0.045189,0.125427,3.074545,"(34.0352699, -118.2382063)"
18,230.0,0.324010,2251.000000,0.001094,0.146367,3.666667,"(34.0565932, -118.4259996)"
19,230.0,0.030273,1794.561404,0.045973,0.170897,3.377193,"(34.1525074, -118.3679036)"
20,142.0,0.034514,2365.000000,0.040551,0.087086,2.978641,"(36.0902437, -115.1758223)"
21,128.0,0.035168,1562.000000,0.038650,0.169845,3.330000,"(37.3854949, -121.9954211)"
22,164.0,0.031666,595.000000,0.039123,0.258862,3.697674,"(38.8128231, -77.1850548)"
23,201.0,0.000694,1542.000000,0.000694,0.444133,2.666667,"(38.8969797, -77.0289132)"
24,202.0,0.027729,1269.000000,0.047310,0.208514,3.598529,"(38.9054561, -77.0442355)"
25,31.0,0.032558,933.000000,0.038515,0.247680,3.615058,"(39.8520594, -74.9810994)"
26,353.0,0.000643,5186.000000,0.000643,0.447000,2.333333,"(40.7093746, -74.0099791)"
27,361.0,0.042865,3196.000000,0.037299,0.163279,3.125926,"(40.7185138, -74.0011677)"
28,364.0,0.000913,2348.000000,0.000913,0.776433,3.333333,"(40.7188385, -73.9882797)"
29,337.0,0.039880,2193.000000,0.040424,0.146997,3.285965,"(40.7274006, -73.8124604)"
30,370.0,0.042679,1670.000000,0.034964,0.138548,3.312281,"(40.7291264, -73.9932643)"
31,380.0,0.034860,2052.000000,0.043493,0.251862,3.692105,"(40.7505058, -73.990583)"
32,381.0,0.065917,263.000000,0.036404,-0.073733,1.916667,"(40.7505058, -73.990583)"
33,380.0,0.033553,3902.000000,0.051826,0.092096,2.959770,"(40.7505058, -73.990583)"
34,51.0,0.028461,3243.000000,0.032372,0.041774,2.525843,"(40.7590573, -111.8973832)"
35,251.0,0.032159,1564.147287,0.032048,0.074320,2.993023,"(40.7719101, -74.1614754)"
36,6.0,0.038019,1028.000000,0.036954,0.206819,3.463035,"(40.9220806, -75.3999187)"
37,249.0,0.037025,1454.000000,0.043375,0.179756,3.362184,"(41.8796564, -87.7779131)"
38,1.0,0.034027,1306.016129,0.048079,0.177485,3.269355,"(44.9814099, -73.4598199)"